@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
}

:root {
  --theme-color: #ff4400e4;
  --bg-color: #000000;
}



body {
  background-color: var(--bg-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  height: 6rem;
  max-width: 75%;  
  margin: 0 auto;
  border-radius: 5px;
  top: 0;
  z-index: 1;
  box-shadow:  0 20px 37px var(--theme-color);
}


.mars_link {
  font-size: 30px;
  margin-left: 2rem;
}

.nav_links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2rem;
  position: relative;
  margin-right: 2rem;
  font-size: 20px;
}

.navbar a {
  color: var(--theme-color);
  text-decoration: none;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
}

.navbar a:hover {
  box-shadow:  0 8px 20px var(--theme-color);
}

.hamburger {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--bg-color);
  width: 580%;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: -2rem;
  top: 4.1rem;
}

.hamburger a {
  width: 6rem;
  margin: 0 2rem 0 0;
}

.unvisible_menu {
  display: none;
}

.menu {
  display: none;
  position: relative;
  border-style: none;
  background-color: transparent;
  right: 2rem;
  color: var(--theme-color);
}

.menu img {
  width: 3rem;
}


.menu:hover {
  border-radius: 100%;
  box-shadow:  0 2px 20px var(--theme-color);
  cursor: pointer;
}


.mars-title {
  position: relative;
  margin-bottom: 15rem;
  z-index: -1;
}


.mars-image img {
  position: absolute;
  top: -10rem;
  left: 45%;
  z-index: -1;
  animation: scaleup 8s -0.5s 1;
  
}

@keyframes scaleup {
  0% {scale: 0.1;}
  100% {scale: 1;}
}

.content {
  max-width: 80%;
  margin: 4rem auto 0;
  padding: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow:  0 27px 29px #ff4500b3;
  margin-top: 50px;
  padding: 20px;
}

.table img {
  width: 45%;
  margin: 1rem;
}


.title {
  color: var(--theme-color);
  text-align: center; 
  margin-bottom: 30px;
  margin-top: 5rem;
}

.mars {
  margin-top: 9rem;
  color: var(--theme-color);
  font-size: 48px;
  text-shadow: 12px 8px 11px var(--bg-color);
  animation-name: appearTitle;
  animation-iteration-count: 1;
  animation-duration: 10s;
}

@keyframes appearTitle {
  0% {opacity: 0;}
  50% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}


.rovers_stats {
  margin-top: 4rem;
}

.bigText {
  padding: 5px;
  color: var(--theme-color);
}

.active {
  color: var(--theme-color);
  font-size: 16px;
}

figure {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

figure img {
  width: 40%;
}



.label {
  margin-top: 30px;
  color: var(--theme-color);
}

/* search component */
.search {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
}

.search label {
  text-align: left;
  display: block;
}

.search h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

.search input, .search select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.input {
  box-shadow:  0 10px 27px rgb(255, 69, 0, 0.7);
  padding: 10px; 
  color: black; 
  font-size: 18px;
}



@media screen and (max-width: 1300px) {

  .navbar {
    height: 5rem;
  }

  .nav_links {
    font-size: 16px;
    padding: .5rem;
    gap: 1rem;
  }
  .mars_link {
    font-size: 20px;
  }

  .MuiImageListItem-root {
    height: 20rem !important;
  }
}

@media screen and (max-width: 1000px) {

  .hamburger {
    display: flex;
  }

  .menu {
    display: block;
  }

  .nav_links {
    display: none;
  }

  .title, figure {
    margin-top: 0;
  }

  .mars-image img {
    top: -5rem;
    left: 40%;
    width: 25rem;
  }

}


@media screen and (max-width: 600px) {

  .MuiImageListItem-root {
    height: 10rem !important;
  }

  .menu {
    right: 2rem;
  }

  .hamburger {
    top: 3.6rem;
  }

  .mars_link {
    margin-left: 0;
    font-size: 16px;
    margin-left: 1rem;
  }

  .menu img {
    width: 2rem;
  }

  .mars-image img {
    top: -20%;
    left: 30%;
    width: 15rem;
  }

  .mars-title {
    margin-bottom: 11rem;
  }

  h3 {
    font-size: 1rem;
  }

}
